:root {
  --font-family: sans-serif;
  --color-white: #fff;
  --color-black: #000;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-black);
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

.sr-only {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}