*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input, textarea,
h1, h2, h3, h4, h5, h6 {
  font: inherit;
}

button {
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}